body{
    background-color:rgb(239, 130, 146);
    margin-top:100px;
}

.slider-container{
    width:50%;
    height:500px;
    position: relative;
    margin: 0 auto;
}

.navigation .prev {
    position: absolute;
    z-index:9;
    font-size: 25px;
    top: 40%;
    left: 10px;
    font-weight: 700;
  }
  .navigation .next {
    right: 10px;
    position: absolute;
    font-size: 25px;
    z-index: 9;
    top: 40%;
  }
  .navigation .nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  }
  .navigation .nav-btn:hover {
    background: white;
  }

  .slider {
     margin-top: 20px; 
     transition: all 0.3s ease;
  
  }
  .slider img {
    width: 100%;
    transition: all 0.3s ease;
    border:8px solid white; 
    
  }
  
.item {
    position: absolute;
    display: none;
} 
  
.main {
    display: block;
} 
.caption {
    position: absolute;
    bottom: 0;
    width: 102%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(247, 247, 247);
    background: rgba(0, 0, 0, 0.3);
    height: 35px;
}
  